<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>

<link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
<body>
<div class="container">
    <p th:text="|Welcome to ${username}'s Todo List|"></p>
    <h3>Todo List</h3>

    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>target date</th>
            <th>is done</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.description}"></td>
            <td th:text="${todo.targetDate}"></td>
            <td th:text="${todo.isDone}"></td>
        </tr>
        </tbody>
    </table>

</div>
<script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.7.1/src/jquery.js"></script>
</body>
</html>